*
!.gitignore
!Fasta_exons/
!Rule_sets/
!Transcriptomes/
!Conda/

!cr_whitelists/.gitignore
!images/Test_data_example.png

!ACKNOWLEDGEMENTS.md
!config.txt
!Extract_whitelist_from_rds.R
!Generate_final_mtx.R
!IDEIS_main.py
!LICENSE.md
!README.md


